In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import accuracy_score

In [39]:
#Reading  the dataset
file_name = "c:\@@@from_drive_S@@@\ECE1513\Indian_liver_patient_assignment_1.csv"
df = pd.read_csv(file_name) # data frame
df = df.fillna(0) #update df
df.loc[df['Gender'] == 'Female', 'Gender'] = 1
df.loc[df['Gender'] == 'Male', 'Gender'] = 0

In [40]:
df

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,1,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,0,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,0,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,0,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,0,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,0,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,0,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,0,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,0,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,0,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [41]:
X = df[list(df.columns)[0:10]]
Y = df['Dataset']

In [42]:
# random division to 70% training and 30% testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, train_size = 0.7)

In [43]:
X_train

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
573,32,0,3.7,1.6,612,50,88,6.2,1.9,0.40
563,64,0,1.4,0.5,298,31,83,7.2,2.6,0.50
422,41,0,1.2,0.5,246,34,42,6.9,3.4,0.97
507,50,0,0.9,0.3,194,190,73,7.5,3.9,1.00
18,40,1,0.9,0.3,293,232,245,6.8,3.1,0.80
...,...,...,...,...,...,...,...,...,...,...
321,30,1,0.8,0.2,198,30,58,5.2,2.8,1.10
288,50,1,1.0,0.5,239,16,39,7.5,3.7,0.90
10,57,0,0.6,0.1,210,51,59,5.9,2.7,0.80
389,72,0,0.6,0.1,102,31,35,6.3,3.2,1.00
146,66,1,2.9,1.3,168,21,38,5.5,1.8,0.40

In [44]:
Y_test

524    2
255    1
269    1
531    1
54     1
      ..
266    1
277    1
205    1
237    1
434    2
Name: Dataset, Length: 175, dtype: int64

In [ ]:
#Model 1 = Logistic regression model
model_1 = LogisticRegression() #initialize the model
model_1.fit(X_train, Y_train)  #fitting on the x and y train
Y_prediction = model_1.predict(X_test)
Accuracy = accuracy_score(Y_prediction, Y_test)
print(Accuracy)

0.7028571428571428

c:\Users\Owner\miniconda3\lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(